doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    title #{subject}
    include _styles
  body
    table.body(role='presentation' border='0' cellpadding='0' cellspacing='0')
      tbody
        tr
          td  
          td.container
            .content
              // START CENTERED WHITE CONTAINER
              table.main(role='presentation')
                // START MAIN CONTENT AREA
                tbody
                  tr
                    td.wrapper
                      table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                        tbody
                          tr
                            td
                              block content
                  // END MAIN CONTENT AREA
                  // END CENTERED WHITE CONTAINER
                  // START FOOTER
                  .footer
                    table(role='presentation' border='0' cellpadding='0' cellspacing='0')
                      tbody
                        tr
                          td.content-block
                            span.apple-link Prime, Dois Vizinhos - PR, Brasil
                            br
                            |  Não quer receber nossos emails? 
                            a(href='http://i.imgur.com/CScmqnj.gif') Cancelar
                            | .
                        tr
                          td.content-block.powered-by
                            | Desenvolvido por 
                            a(href='http://htmlemail.io') HTMLemail
                            | .
                  // END FOOTER
          td  
